.background {
    position: absolute;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(255, 61, 61, 0.6);

    &.win {
        background: rgba(44, 83, 0, 0.6);
    }
}

.block {
    border: 3px solid rgb(182, 41, 41);
    background: rgba(155, 36, 36, 0.99);
    border-radius: 10px;
    padding: 20px;
    min-width: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;

    &.win {
        background: rgb(78, 146, 0);
        border: 3px solid rgb(52, 97, 0);
    }
}