.inputBlock {
    margin: 5px 0;
}

.inputLabel {
    margin-right: 12px;
}

.input {
    max-width: 100px;
    background: rgb(89, 131, 255);
    border: 1px solid rgba(61, 106, 255);
    padding: 7px;
}

.input:focus {
    background: rgb(106, 143, 255);
    border: 1px solid rgb(87, 126, 255);
}

.button {
    cursor: pointer;
    margin-top: 15px;
    min-width: 116px;
    background: rgb(89, 131, 255);
    border: 1px solid rgba(61, 106, 255);
    padding: 7px;
    transition: all .5s;
}

.button:hover {
    background: rgb(106, 143, 255);
    border: 1px solid rgb(87, 126, 255);
}